<!-- 
  This page is organized in 3 columns of equal width. Within each column are rows, which consist of only 1 or two photos each. Small images must be 160px wide and large ones must be 360px wide. 
-->

<div class="main-container">
  <!-- *** COLUMN 1 *** -->
  <div class="column">
    <div class="row">
      <div class="photo item item-large">
        <img src="https://31.media.tumblr.com/5008161775a88f3f97245326d4d6be35/tumblr_mpppyim6lZ1sqngcro1_400.gif">
      </div>
    </div>

    <div class="row">
      <div class="photo item item-small"> <img src="https://31.media.tumblr.com/34395665dc2d4e412b1fd429c716f2fd/tumblr_mmzq9ynBNy1qk1j3lo2_500.gif"> </div>
      <div class="photo item item-small"> <img src="https://24.media.tumblr.com/ab969757f43ea9d34860a5ceece7fc5d/tumblr_mozoyd50jU1sp9fcho1_500.gif"> </div>
    </div>

    <div class="row">
      <div class="photo item item-large"><img src="https://24.media.tumblr.com/tumblr_m6s15wvpZ61ranhnao1_400.gif"></div>
    </div>

    <div class="row">
      <div class="photo item item-small"> <img src="https://31.media.tumblr.com/tumblr_m6h8h6439G1rwcc6bo1_400.gif"> </div>
      <div class="photo item item-small"> <img src="https://24.media.tumblr.com/tumblr_m4zc1fMLux1rwcc6bo1_500.gif"> </div>
    </div>
  </div>

  <!-- *** COLUMN 2 *** -->
  <div class="column">
    <div class="row">
      <div class="photo item item-small"> <img src="http://assets0.ordienetworks.com/images/GifGuide/clapping/kypaf.jpg.gif"> </div>

      <div class="photo item item-small"> <img src="http://media.tumblr.com/tumblr_lu27a0fOSf1qzgpx9.gif"> </div>
    </div>

  <!-- * CLAP CONTAINER * -->
    <div class="row">
      <div class="clap-container item item-large">
        <div id="message">
          <h2>Wait for it...</h2>
        </div>
        <div id="clap">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="item item-large">
        <!-- <h3> TALK TO ASHLEY ON TWITTER: </h3> -->
        <div class="buttons">
          <a href="https://twitter.com/ag_dubs" class="twitter-follow-button twitter-button" data-show-count="false" data-size="large">Follow @ag_dubs</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
          </script>
          <a href="https://twitter.com/intent/tweet?button_hashtag=clapforashley" class="twitter-button twitter-hashtag-button" data-size="large" data-related="ag_dubs">Tweet #clapforashley</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
          </script>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="photo item item-small"> <img src="http://media.tumblr.com/7e1563ad5f6ebf7c3b6b51150eb03bfb/tumblr_inline_mn05oodMkd1qz4rgp.gif"> </div>
      <div class="photo item item-small"> <img src="https://24.media.tumblr.com/944aa7d01d6fedfd6778bc7b34d3325b/tumblr_myli18jmfg1rkiuhro1_500.gif"> </div>
    </div> 
    
    <div class="row">
      <div class="photo item item-large">
        <img src="http://assets0.ordienetworks.com/images/GifGuide/clapping/dwight.gif">
      </div>
    </div>
  </div>

  <!-- *** COLUMN 3 *** -->
  <div class="column">
    <div class="row">
      <div class="photo item item-large">
        <img src="https://31.media.tumblr.com/4ef1805c7fa1e0777844fc55f4e26221/tumblr_mtog41FCdS1sib2dzo1_250.gif" >
        
      </div>
    </div>

    <div class="row">
      <div class="photo item item-large"><img src="http://assets0.ordienetworks.com/images/GifGuide/clapping/hp2.gif"></div>
    </div>

    <div class="row">
      <div class="photo item item-small"> <img src="http://assets0.ordienetworks.com/images/GifGuide/clapping/jimcarry.gif"> </div>
      <div class="photo item item-small"> <img src="https://24.media.tumblr.com/tumblr_m545wfIicx1qihztbo1_500.gif"> </div>
    </div>

    <div class="row">
      <div class="photo item item-large"><img src="http://assets0.ordienetworks.com/images/GifGuide/clapping/golf-clap.gif"></div> 
    </div>
  </div>
</div>

<audio>
  <source src="/audio/applause.mp3"></source>
  Your browser hates you.
</audio>