<!-- 
  This page is organized in 3 columns of equal width. Within each column are rows, which consist of only 1 or two photos each. Small images must be 160px wide and large ones must be 360px wide. 
-->

<div class="main-container">
  <div class="column">
    <div class="row">
      <div class="item item-large">
        <img src="http://placekitten.com/360/300">
      </div>
    </div>

    <div class="row">
      <div class="item item-small"> <img src="http://placekitten.com/160/160"> </div>
      <div class="item item-small"> <img src="http://placekitten.com/160/160"> </div>
    </div>

    <div class="row">
      <div class="item item-large"><img src="http://placekitten.com/360/300"></div>
    </div>

    <div class="row">
      <div class="item item-small"> <img src="http://placekitten.com/160/160"> </div>
      <div class="item item-small"> <img src="http://placekitten.com/160/160"> </div>
    </div>
  </div>

  <div class="column">
    <div class="row">
      <div class="item item-small"> <img src="http://placekitten.com/160/160"> </div>
      <div class="item item-small"> <img src="http://placekitten.com/160/160"> </div>
    </div>
  
    <div class="row">
      <div class="clap-container item item-large">
        <div id="message">
          <h2>Sit patiently, and wait for Ashley to tweet.</h2>
        </div>
        <div id="clap">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="item item-small"> <img src="http://placekitten.com/160/160"> </div>
      <div class="item item-small"> <img src="http://placekitten.com/160/160"> </div>
    </div>
    
    <div class="row">
      <div class="item item-large">
        <img src="http://placekitten.com/360/300">
      </div>
    </div>
  </div>

  <div class="column">
    <div class="row">
      <div class="item item-large">
        <img src="http://placekitten.com/360/495">
      </div>
    </div>

    <div class="row">
      <div class="item item-large"><img src="http://placekitten.com/360/300"></div>
    </div>

    <div class="row">
      <div class="item item-small"> <img src="http://placekitten.com/160/160"> </div>
      <div class="item item-small"> <img src="http://placekitten.com/160/160"> </div>
    </div>
    
  </div>
</div>

<audio>
  <source src="/audio/applause.mp3"></source>
  Your browser hates you.
</audio>