<div id="title">
  <h1>Clap For Ashley</h1>
</div>

<div id="message">
  <h2>Watch this space for tweets about @ag_dubs!</h2>
</div>

<div id="clap">

</div>

<audio>
  <source src="/audio/applause.mp3"></source>
  Your browser hates you.
</audio>