body {
  font-family: 'Amatic SC', cursive;
  background-color: #99E6F0;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* this doesn't work?? */
  -moz-box-sizing: border-box; /* this doesn't work?? */
}

h2 {
  font-size: 24pt;
  padding: 20px;
}

#message, #clap {
  text-align: center;
}

.main-container {
  width: 1240px;
  margin: 0 auto;
}

.row {
  width: 100%;
}

.column {
  width: 400px;
  height: 100%;
  float: left;
  display: inline-block;
}

.item {
  background-color: rgba(255,255,255,0.8);
  display: inline-block;
  float: left;
  margin: 10px;
  padding: 10px 10px 7px 10px; /*for some reason there are a few extra pixels showing on the bottom that's why I made it less*/
}

.item-small {
  width: 160px;
}

.item-large {
  width: 360px;
}

.clap-container {
  height: 300px;
  background-color: white;
}
