body {
  font-family: Georgia;
}

#message, #clap {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#message {
  margin-top: 150px;
}

#clap {
  margin-top: 50px;
}